@import "main-styles";

.articles-list {
    width: 1440px;
    margin: 0 auto;
    padding-bottom: 70px;

    .search {
        margin: 50px 75px 0 75px;
        z-index: 999;

        &__wrap-input {
            position: relative;
        }

        &__icon {
            position: absolute;
            top: 45px;
            left: 0;
            padding-left: 20px;
        }

        &__title {
            display: flex;
            flex-direction: column;
            font-size: $font-size-m;
            font-weight: bold;
            letter-spacing: normal;
        }

        &__input {
            width: 600px;
            height: 50px;
            border: 1px solid $color-light-gray;
            border-radius: 5px;
            margin-top: 10px;
            padding-left: 60px;
            font-size: $font-size-m;
            box-shadow: 0 0 19px 0 rgba(245, 245, 245, 1);
        }
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 10px 45px;
        margin: 0 75px;
    }

    &__items {
        display: flex;
        width: calc((100% - 90px) / 3);
        margin-top: 40px;
    }

    &__wrap-search-results {
        border-bottom: 1px solid $color-light-gray;
        margin: 40px 75px 0 75px;
    }

    &__search-results {
        font-size: $font-size-m;
        font-weight: bold;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 10px 45px;
        margin: 0 75px;
    }

    &__items {
        width: calc((100% - 90px) / 3);
        margin-top: 40px;
    }
}

.highlight {
    background-color: yellow;
}
