<section class="articles-list">
    <div class="search">
        <form class="search__container">
            <div class="search__wrap-input">
                <label class="search__title" for="filter">{{ title }}</label>
                <input
                    matInput
                    type="text"
                    class="search__input"
                    id="filter"
                    name="filter"
                    placeholder="Search"
                    [formControl]="filter"
                    [(ngModel)]="searchQuery"
                    (keydown.enter)="search()"
                >
                <img class="search__icon" src="./assets/image/ui/search.svg" alt="{{ title }}">
            </div>
        </form>
    </div>

    <div class="articles-list__wrap-search-results">
        <p class="articles-list__search-results">
            Results:
            {{ foundArticlesCount }}
        </p>
    </div>

    <div class="articles-list__cards">
        <app-article-card
            class="articles-list__items"
            *ngFor="let article of articles$ | async "
            [article]="article"
            [searchQuery]="searchQuery"
        ></app-article-card>
    </div>

</section>
