// ***COLORS***

//PRIMARY BASIC COLORS

$color-white: #ffffff;
$color-black: #363636;
$color-light-gray: #eaeaea;

// FONT SIZE
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 24px;

// FONTS

//ELEMENTS HOVER EFFECT
$hover-effect-delay: 0.5s;
