@import "main-styles";

.search {
    margin: 50px 75px 0 75px;

    &__wrap-input {
        position: relative;
    }

    &__icon {
        position: absolute;
        top: 45px;
        left: 0;
        padding-left: 20px;
    }

    &__title {
        display: flex;
        flex-direction: column;
        font-size: $font-size-m;
        font-weight: bold;
        letter-spacing: normal;
    }

    &__input {
        width: 600px;
        height: 50px;
        border: 1px solid $color-light-gray;
        border-radius: 5px;
        margin-top: 10px;
        padding-left: 60px;
        font-size: $font-size-m;
        box-shadow: 0 0 19px 0 rgba(245, 245, 245, 1);
    }
}
