<!--<section class="search">-->
<!--    <form class="search__container">-->
<!--        <div class="search__wrap-input">-->
<!--            <label class="search__title" for="filter">{{ title }}</label>-->
<!--            <input-->
<!--                matInput-->
<!--                type="text"-->
<!--                class="search__input"-->
<!--                id="filter"-->
<!--                name="filter"-->
<!--                placeholder="Search"-->
<!--                [(ngModel)]="term"-->
<!--            >-->

<!--            <img class="search__icon" src="./assets/image/ui/search.svg" alt="{{ title }}">-->
<!--        </div>-->
<!--    </form>-->
<!--</section>-->

